.whitesmoke {
   outline: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: whitesmoke;
}

.peru {
   outline: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: peru;
}

.transparent
{
  outline: 1px solid black;
    height: 100px;
    width: 100px;
    background-color: transparent;
}